sentence-transformers
faiss-cpu
numpy
pandas
scipy
scikit-learn
torch
torch-geometric
hydra-core
omegaconf
datasets
wandb
transformers
ninja
pymupdf
beautifulsoup4
requests
pdfminer.six
pillow
python-dotenv
playwright
pyyaml
tqdm
